Give me a hint button
 Level 1: Just the 1st step
 Level 2: A formula reminder
 Level 3: A guided question

 State can be confused not knowing which feature to give 
 priority to i.e. user uploads image and writes to canvas

 Solution: clear uploaded file after is processed


